html, body, h1, ul, li {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
	list-style: none;
}

#root {
  width: 100%;
  height: 100%;
}

.app-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.channel-history {
  flex-grow: 1;
  background-color: rgb(230,230,230);
  padding: 20px;
}

.channel-history__title {
  font-size: 22px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.channel-history__message {
  background-color: white;
  padding: 5px;
  margin-bottom: 10px
}

.channel-history__message-star {
  margin-left: 5px;
  color: rgb(230, 230, 230);
  cursor: pointer;
}
.channel-history__message-star:hover {
  color: rgb(160, 160, 160);
}

.compose-message {
  display: flex;
  padding: 10px;
  background-color: gray;
}

.compose-message__input {
  flex-grow: 1;
  margin-right: 5px;
}
