html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100%;
  height: 100%;
}

.app-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.channel-history {
  flex-grow: 1;
  background-color: cyan;
}

.compose-message {
  flex-basis: 100px;
  background-color: hotpink;
}
